.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h1{
    color: #fff;
    font-size: 3em;
}
.logo-redhouse{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 20px;
    gap: 20px;
}

.logoRH{
    width: 70px;
}

.logo-redhouse h1{
    color: black;
    font-size: 1rem;
    padding: 0;
}