* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-size: 1rem;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header img {
    width: 80px;
    transition: all 1s ease;
}

header img:hover {
    transform: scale(.9);
}


header h1 {
    font-family: "Grey Qo", cursive;
}

main {
    background-color: #c21233;
    height: calc(100% - 70px);
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 80%;
    margin: 0 auto;
}

.main_info {
    max-width: 50%;
}

.main_info h2 {
    color: #fff;
    font-weight: 300;
}

.main_info h1 {
    color: #fff;
    font-size: 4rem;
}

.main_info span {
    color: #F3D64C;
    font-size: 4rem;
}

.main_info p {
    color: #fff;
    font-size: 1em;
    font-weight: 200;
    font-style: italic;
}

.form {
    max-width: 50%;
    min-width: 35%;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
}


.form h1 {
    color: #be0202;
    text-align: center;
    font-size: 2em;
}

.form form input {
    border: 1px solid gray;
    /* border-bottom: 1px solid gray; */
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
}

.form form input#sendBtn {
    background-color: #F3D64C;
    color: black;
    width: 40%;
    text-transform: uppercase;
    font-family: "Poppins";
    font-weight: 600;
    font-size: .9em;
    border: none;
    display: block;
    margin: 15px auto;
}

.form form input#sendBtn:hover {
    cursor: pointer;
    background-color: #bbb124;
}


.form form p {
    font-size: .8rem;
    text-align: center;
}

.form form a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}