@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

:root {
    --color-white: #fff;
    --color-of-white: #faf5f2;
    --color-cereja: #C21233;
    --color-black: #000;
    --color-gray-lighting: rgb(96, 90, 90);
    --collor-grafite: #25282a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

body {
    background-color: #f8d2d293;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
}

header.sidebar {
    display: flex;
    flex-direction: column;
    max-width: 70px;
    height: 100dvh;
    background-color: var(--color-white);
    border-bottom-right-radius: 20px;
    padding-top: 20px;
    transition: all .5s;
    position: fixed;
    overflow: hidden;
}

/* header .sidebar-logo {
    width: 44px;
    height: 44px;
    object-fit: cover;
    margin-left: 14px;
} */

#open-sidebar {
    position: absolute;
    top: 30px;
    left: 25px;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    background-color: grey;
    border-radius: 100%;
    color: #fff;
    transition: all .5s;
}

/* .sidebar-logo img {
    width: 100%;
} */

header .sidebar-options {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding-bottom: 60px;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: column;

}

header ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--color-gray-lighting);
    padding: 20px;
}

header ul li a:hover {
    color: var(--color-black);
    background-color: var(--color-of-white);
}

header ul li a i:not(:last-child) {
    font-size: 30px;
}

header ul li a span {
    margin-left: 20px;
}



main {
    width: calc(100vh-70px);
    height: 100%;
    font-family: "Nunito", sans-serif;
}

main.header {
    background-color: var(--color-white);
    height: 70px;
    margin-left: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 30px;
}

.logo-main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.logo-main-header h1 {
    font-family: "Bebas Neue", sans-serif;
}

.logo-main-header p {
    font-size: .8em;
    color: var(--color-cereja);
    font-weight: 500;
    font-style: italic;
}

.main-header-search {
    position: relative;
}

.lupa {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);

    cursor: pointer;
    width: 30px;
    font-weight: 600;
}

.main-header-search input {
    width: 300px;
    height: 40px;
    border: none;
    background-color: rgba(128, 128, 128, 0.281);
    border-radius: 20px;
    padding-left: 20px;
    outline: none;
}

@media screen and (max-width: 708px) {
    .main-header-search input {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        transition: all .2s;
    }

    .lupa {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .main-header-search input::placeholder {
        opacity: 0;
    }

    main.header {
        padding-inline: 10px;
    }
}

/* @media screen and (max-width: 525px) {
    
} */

.main-header-search input::placeholder {
    font-size: 1.1em;
}

.header .logo-main-header img {
    width: 50px;
}

.main-header-account .account-avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
}

.main-header-account .account-avatar:hover {
    box-shadow: 1px 1px 5px rgb(53, 53, 53);
}

.main-header-account .account-avatar img {
    width: 100%;
    cursor: pointer;
}